body {
    background: lightblue;
    text-align: center;
}

.wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.circle {
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    background: pink;
    border-radius: 50px;
    cursor: pointer;
}